<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cook Book - Recipes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<body>

    <div id="app">

        <!-- NAVIGATION BAR -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html">
                <img src="https://cdn-icons-png.flaticon.com/512/1371/1371048.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Cook Book Recipes
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <button class="btn btn-light" v-on:click="favorites = true">Favorite Recipes</button>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- SEARCH CARD -->
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Recipe Search</h5>
            <div class="card-text">
                <div>
                    <label for="foodkeyword-search">Search by keyword:</label>
                    <input type="text" id="foodkeyword-search" v-model = 'inputField'>
                </div>
                <p>
                    <label for="meal-type">Meal Type:</label>
                    <select id="meal-type" v-model = 'mealTypeSelect'>
                        <option value="breakfast">Breakfast</option>
                        <option value="brunch">Brunch</option>
                        <option value="lunch">Lunch</option>
                        <option value="dinner">Dinner</option>
                        <option value="snack">Snack</option>
                        <option value="teatime">Teatime</option>
                    </select>
                </p>
            </div>
            <button class="btn btn-primary" v-on:click="loadSearchedRecipes">Search</button>
            </div>
            <div class="card-footer text-muted">
                Want to save a recipe for later? Click on the green heart to add it to your favorites list!
            </div>
        </div>

        <!-- LISTS RECIPES -->
        <div v-show="favorites === false">
            <div class="container">
                <div class="row justify-content-center">
                    <div v-for="recipe in recipes.hits" :key="recipe.id">
                        <div class="col-sm-4 pt-5">
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" :src="`${ recipe.recipe.image }`" alt="Card image cap">
                                <div>
                                    <button class="btn btn-light btn-outline-success" v-on:click="favoriteRecipe(recipe)" style="width:25rem;">♡</button>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{ recipe.recipe.label }}</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                <li class="list-group-item" v-for="item in recipe.recipe.mealType"><b>Meal Type:</b> {{ item }}</li>
                                <li class="list-group-item" v-for="item in recipe.recipe.cuisineType"><b>Cuisine Type:</b> {{ item }}</li>
                                <li class="list-group-item"><b>Calories:</b> {{ recipe.recipe.calories }}</li>
                                <li class="list-group-item">
                                    <h5 class="text-center">Ingredients</h5>
                                    <ul>
                                        <li v-for="item in recipe.recipe.ingredientLines">
                                            {{ item }}
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-group-item">Recipe is from <u>{{ recipe.recipe.source }}</u></li>
                                </ul>
                                <div class="card-body">
                                <a :href="`${ recipe.recipe.shareAs }`" class="card-link" target="blank">Instructions: {{ recipe.recipe.label }}</a>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>               
        </div>

        <!-- FAVORITE RECIPIES -->
        <div v-show="favorites === true">
            <div class="container">
                <div class="row justify-content-center">
                    <div v-for="recipe in favRecipes" :key="recipe.id">
                        <div class="col-sm-4 pt-3">
                            <div class="card" style="width: 25rem;">
                                <img class="card-img-top" :src="`${ recipe.recipe.image }`" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{ recipe.recipe.label }}</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                <li class="list-group-item" v-for="item in recipe.recipe.mealType"><b>Meal Type:</b> {{ item }}</li>
                                <li class="list-group-item" v-for="item in recipe.recipe.cuisineType"><b>Cuisine Type:</b> {{ item }}</li>
                                <li class="list-group-item"><b>Calories:</b> {{ recipe.recipe.calories }}</li>
                                <li class="list-group-item">
                                    <h5 class="text-center">Ingredients</h5>
                                    <ul>
                                        <li v-for="item in recipe.recipe.ingredientLines">
                                            {{ item }}
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-group-item">Recipe is from <u>{{ recipe.recipe.source }}</u></li>
                                </ul>
                                <div class="card-body">
                                <a :href="`${ recipe.recipe.shareAs }`" class="card-link" target="blank">Instructions: {{ recipe.recipe.label }}</a>
                                </div>
                                <button class="btn btn-light btn-outline-danger" v-on:click="unfavoriteRecipe(recipe)" style="width:25rem;">Unfavorite</button>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>               
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>